<div class="calendar-panel calendar-nav-panel text-right">
    <button class="btn btn-nav btn-default prev-year btn-lg"><<</button>
    <button class="btn btn-nav btn-default prev-month btn-lg"><</button>

    <h2 style="display:inline-block; padding: 0 0; margin: 0 0;">
        <span class="label label-primary label-lg currentYearMonth">{{currentYearMonth}}</span>
    </h2>

    <button class="btn btn-nav btn-default next-month btn-lg">></button>
    <button class="btn btn-nav btn-default next-year btn-lg">>></button>
</div>
