<div class="calendar-panel text-center">

    <!--<button class="btn btn-primary load-people">Load people</button>-->

    <div class="pull-right">
        <button class="btn btn-default panel-add-event" style="display:none">Add event</button>
        <button class="btn btn-default panel-edit-event" style="display:none">Edit event</button>
        <button class="btn btn-default panel-remove-event" style="display:none">Remove event</button>


        <button class="btn btn-default save-events" style="margin-right:10px;">Save events</button>
        <label for="event-autosave">Autosave</label>
        <input type="checkbox" id="event-autosave" class="event-autosave" />
    </div>
    <div style="clear:both">

</div>  