<div class="calendar-panel text-center">
    <button class="btn btn-primary prev-year">Previous year</button>
    <button class="btn btn-primary prev-month">Previous month</button>
    <button class="btn btn-primary next-month">Next month</button>
    <button class="btn btn-primary next-year">Next year</button>

    <button class="btn btn-default save-events">Save events</button>
    <button class="btn btn-default clear-events">Clear events</button>
</div>

<div class="calendar-loader"></div>